h1{
	color: green;
}
	
body{
	font-family: sans-serif;
	background: #FFA07A;
}
nav{
	height: 15vh;
	background: 	#808080;}

.nav-link{
	display: flex;
	list-style: none;
	justify-content: space-around;




}
.nav-link li a{
	color:white;
	text-decoration: none;
	font-size: 20px;
}

p{
	color: orange;
}
.th{
	 color: #BB8FCE
}